# Backend
API_PORT=8000
YOLO_MODEL_PATH=weights/yolo26n_maduraapp.pt
CONFIDENCE_THRESHOLD=0.65
DB_URL=postgresql+asyncpg://user:password@localhost:5432/maduraapp
AUTH_SECRET_KEY=CAMBIA_ESTO_EN_PRODUCCION
ENVIRONMENT=development

# Cloud
RENDER_API_KEY=
AWS_REGION=us-east-1